// Breakpoint
// ======================================================
$breakpoint-to-ems: true

// Typography
// ======================================================
$font-stack-base: 'Panton', sans-serif
$font-size-base: 20px
$font-size-mobile: 10px
$font-line-height-base: 1.57
$font-weight-base: 400

$icon-font-name: 'Port Icons'

// Colors
// ======================================================
$white: #fff
$black: #000

// Basic variables
// ======================================================
$default-padding: 20px

// Icons
// ======================================================
$icons: (  )

// Images
// ======================================================
$images-root: '../images/'

// Breakpoints
// ======================================================
$breakpoint-desktop: 1024px
$breakpoint-mobile: 1023px
$breakpoint-mobile-small: 640px

// Z-index
// ======================================================
$z-index: ()
