// Typography
// ======================================================
$font-stack-base: 'Noticia Text', sans-serif
$font-size-base: 1.4rem
$font-line-height-base: 1.57
$font-weight-base: 400

$font-icon-name: 'webapp-icons'

// Colors
// ======================================================
$white: #fff
$black: #000

// Icons
// ======================================================
$icons: ()

// Z-index
// ======================================================
$z-index: ()

// Images
// ======================================================
$images-root: '../images/'

// Breakpoints
// ======================================================
$breakpoint-desktop: 1024px
$breakpoint-mobile: 767px
$breakpoint-mobile-small: 321px

// Grid
// ======================================================
$column-width: 80
$column-count: 12
$gutter-size: 12 12