// Typography
// ======================================================
$font-rem-size: 10px

$font-base-family: 'Noticia Text', sans-serif
$icon-font-name: 'webapp-icons'
$font-base-size: 1.4rem
$font-base-line-height: 1.57
$font-base-weight: 400

// Colors
// ======================================================

// Images
// ======================================================
$images-root: '../images/'

// Breakpoints
// ======================================================
$breakpoint-desktop: 60em
$breakpoint-mobile: 47.94em