/* site typography */
$font-rem-size: 10px

$font-base-family: 'Noticia Text', sans-serif
$font-base-size: 1.4rem
$font-base-line-height: 1.57
$font-base-weight: 400

/* font colors */
$color-base-font: #8a8f96
$color-link: #000

/* background colors */
$background-base-color: #f1f3f3

/* icons */
$icon-font-name: 'webapp-icons'

/* images */
$images-root: '../images/'


/* grid breakpoints */
$desktop-min: 960px
$desktop-max: 1160px

$tablet-min: 768px
$tablet-max: 959px

$mobile-large-min: 480px
$mobile-large-max: 767px

$mobile-small-max: 767px