html
  box-sizing: border-box

body
  background: $mystic
  font: $font-weight-base #{$font-size-mobile}/#{$font-line-height-base} $font-stack-base
  color: $martinique
  user-select: none

  +breakpoint($breakpoint-desktop)
    font-size: 16px

// Scaffolding
// ===========================
*,
*:before,
*:after
  box-sizing: inherit

ul,
ol
  margin: 0
  padding: 0
  list-style: none

dl,
dd,
blockquote,
figure
  margin: 0

img
  display: block
  height: auto
  max-width: 100%

fieldset
  margin: 0
  border: 0
  padding: 0

input[type="search"]
  border-radius: 0
  box-sizing: inherit
  appearance: none
  -webkit-appearance: none

address
  font-style: normal

a
  text-decoration: none
  color: $black
  -webkit-tap-highlight-color: rgba($black, .3)

  &:focus
    outline: none
