h1
  margin: em(15, 30) 0
  font-size: em(30)

h2
  margin: em(13, 25) 0
  font-size: em(25)

h3
  margin: em(10, 20) 0
  font-size: em(20)

h4
  margin: em(7, 15) 0
  font-size: em(15)

h5
  margin: em(5, 13) 0
  font-size: em(13)

h6
  margin: em(2, 10) 0
  font-size: em(10)
