$headings-font-family-declaration: ()

@for $i from 1 through length($type-settings)
  $settings: nth($type-settings, $i)

  $font-size: nth($settings, 1)
  $font-weight: nth($settings, 2)
  $font-style: unquote(nth($settings, 3))
  $margins: nth($settings, 4)

  $headings-font-family-declaration: append($headings-font-family-declaration, unquote('h#{$i}'), 'comma')
  $headings-font-family-declaration: append($headings-font-family-declaration, unquote('.h#{$i}'), 'comma')

  $margin: ()

  @each $margin-size in $margins
    $margin: append($margin, em($margin-size, $font-size))

  h#{$i},
  .h#{$i}
    margin: $margin
    font-size: em($font-size)
    font-weight: $font-weight
    font-style: $font-style

#{$headings-font-family-declaration}
  font-family: $font-stack-secondary